body {
    line-height: normal;
}
.myWiki-user-image{
	margin-left: 15px;
	margin-right: 0px;
}
.myWiki-margin-0{
	margin: 0px;
	padding: 0px;
	border: 0px;
	left: -2%;
}
.myWiki-wiki{
	margin: 0px!important;
	padding: 0px;
	border: 0px;
	left: -1%;
}
.myWiki-user-name-des{
	font-size: 13px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.myWiki-wiki-question{
	font-size: 30px;
	font-weight: 900;
	line-height: .95em !important;
	font-style: bold;
	font-family: Times, Times New Roman, Georgia, serif;

}
.serif {
  font-family: Times, Times New Roman, Georgia, serif;
}

.sansserif {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: Lucida Console, Courier, monospace;
}

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}
.myWiki-wiki-date{
	margin-left: 5px;
	font-size: 10px;
}
.myWiki-wiki-like-list{
	float: left;
}
.myWiki-wiki-like-item{

  background: #c1cbcc;
  color: #6a7fa3;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px 0 5px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  border-radius: 5px;
}
.myWiki-wiki-like-button{
	padding-left: 0px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 10px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 45px;
    width: 100%;
    background: white;
    float: left;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #189b40;
    font-size: 15px;
    font-weight: 500;
    font-family: Times New Roman;

}
.myWiki-wiki-like-button:hover{
    -webkit-transform: scale(1.0004);
    background: #c2d6c8;
}
